.containerBackground{

    background-color: rgba(14, 16, 17, 0.6);

    border-radius: 30px;
    width: 62.5rem;
    min-height: 800px;
    height: fit-content;

    backdrop-filter: blur(10px);
    position: absolute;
    left: 24.68rem;
    top: 4.68rem;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



