.containerLateral{

    background-color: rgba(14, 16, 17, 0.5);
    border-radius: 20px;
    width: 400px;
    height: 700px;

    display: flex;
    position: fixed;
    top: 130px;
    left: 1450px;
}