@font-face {
  font-family: Big;
  src: url(./fonts/big_noodle_titling.ttf);
}

body {
  margin: 0%;
  padding: 0%;

  background-image: url(../public/media/img/background.png);

  display: flex;
  justify-content: center;

}


body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}



body::-webkit-scrollbar-track {
  
  background-color: rgb(3, 6, 9);

}


body::-webkit-scrollbar-thumb {

  background-color: rgba(80, 17, 78);
  border-radius: 5px;
  
}


body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}