.itemCounter{

    background-color: rgba(14, 16, 17);
    border-radius: 10px;
    display: flex;

    cursor: pointer;
    width: 100px;
    height: 30px;

}

.buttonPlus{

    color: white;

    width: 30px;
    height: 30px;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    
}

.buttonMinus{

    color: white;
    width: 30px;
    height: 30px;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    
}

.textCantidad{

    width: 30px;
    height: 30px;

    color: white;
    font-size: 16px;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

}